<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project 2 template</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>
  <link href="css/style.css" rel="stylesheet">
  <script src="./controllers/index.js" async></script>
</head>

<body>
  <!-- Basically, if isAuthenticated is true, i.e. the user is logged in, then show the navbar partial. Otherwise, don't show it. --> 
  {{#if isAuthenticated}}
  {{> navbar}}
  {{/if}}
  <!-- Show the toast partial regardless of whether the user is logged in or not --> 
  {{> toast}}

  <!-- All the other templates will be inserted into the {{{ body }}} -->
  {{{ body }}}
{{!-- this is where kanban goes --}}
<div class="row min-vh-100 no-gutters">
    <header class="col-12 col-lg-3 bg-dark text-light sticky-top d-flex flex-column p-4 p-lg-3">
        <h1 class="text-center">
          <span class="oi oi-task d-inline d-lg-none"></span>
          {{!-- TODO: name of board should be variable --}}
          Slam-Bam-Kanban
        </h1>
          <button id="create-task" class="btn btn-success btn-block btn-add text-light" data-toggle="modal" data-target="#task-form-modal"><span class="oi oi-plus mr-2"></span>Add Task</button>
          <button id="remove-tasks" class="btn btn-danger btn-block btn-delete mb-2 mb-md-4 text-light"><span class="oi oi-trash mr-2"> </span>Delete All Tasks</button>
     
      
    </header>
    <main class="col-12 col-lg-9 d-flex flex-column ">
      <div class="m-5 row justify-content-around">
          <!--  -->
          <div class="col-12 col-md-6 col-xl-3 mb-3">
            <div class="card">
              <h4 class="card-header bg-dark text-light d-flex align-items-center">
                To Do
              </h4>
              <ul id="list-toDo" class="list-group list-group-flush">
              </ul>
            </div>
          </div>
          <!--  -->
          <div class="col-12 col-md-6 col-xl-3 mb-3">
            <div class="card">
              <h4 class="card-header bg-dark text-light d-flex align-items-center">
                In Progress
              </h4>
              <ul id="list-inProgress" class="list-group list-group-flush">
              </ul>
            </div>
          </div>
          <!--  -->
          <div class="col-12 col-md-6 col-xl-3 mb-3">
            <div class="card">
              <h4 class="card-header bg-dark text-light d-flex align-items-center">
                In Review
              </h4>
              <ul id="list-inReview" class="list-group list-group-flush">
              </ul>
            </div>
          </div>
          <!--  -->
          <div class="col-12 col-md-6 col-xl-3 mb-3">
            <div class="card">
              <h4 class="card-header bg-dark text-light d-flex align-items-center">
                Done
              </h4>
              <ul id="list-done" class="list-group list-group-flush">
              </ul>
            </div>
          </div>
      </div>
      <div class="mt-auto overflow-hidden" id="trash">
        <div class="w-100 p-3 text-center bottom-trash">
          <span class="oi oi-trash"> </span> Drop Here to Remove.
        </div>
      </div>
    </main>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="task-form-modal" tabindex="-1" role="dialog" aria-labelledby="task-form-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalTitle">Add New Task</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="modalTaskDescription">Task description</label>
              <textarea class="form-control" id="modalTaskDescription" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="modalDueDate">Due date</label>
              <input type="text" class="form-control" placeholder="mm/dd/yyyy" id="modalDueDate" autocomplete="off">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-save">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</body>






  {{#if isAuthenticated}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
