<div class="row align-center mb-5">

    <div class="col-md-12">


        <h1>My Job Pursuit</h1>


        <div class="kanban">

        </div>

    </div>
</div>
<h1 class="sub">Double Click to Delete</h1>
</div>

</header>
<main class="container container-fluid mt-5">
    {{{ body }}}