.kanban {
	display: flex;
	padding: 10px;
	width: 100vw;
	background: #04f3fb;
	border-radius: 5px;
	box-shadow: 1px 1px 20px rgb(118, 203, 232);
	justify-content: center;
}

.kanban * {
	font-family: sans-serif;
}

.kanban__column {
	flex: 1;
}

.kanban__column:not(:last-child) {
	margin-right: 30px;
}

.kanban__column-title {
	margin-bottom: 20px;
	font-size: 30px;
	color: rgb(4, 4, 5);
	user-select: none;
}

.kanban__item-input {
	padding: 10px 15px;
	box-sizing: border-box;
	background: black;
	border-radius: 5px;
	cursor: pointer;
}

.kanban__dropzone {
	height: 10px;
	transition: background 0.15s, height 0.15;
}

.kanban__dropzone--active {
	height: 20px;
	background: rgba(0, 0, 0, 0.25);
}

.kanban__add-item {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: white;
	background: rgba(0, 0, 0, 0.1);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.kanban__add-item:hover {
	background-color: #38ffff;
  	box-shadow: 0px 0px 20px rgb(54, 58, 59);
	color: black;
}

dblClick {
	text-shadow: 0 0 3px #FF0000
}